*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background-color: #c9d7ed;;
}

.inner-box{
    width: 400px;
    margin : auto;
    position: relative;
    top : 40%;
    transform: translateY(-50%);
    background-color: rgb(251, 251, 251);
    padding: 20px 40px;
    /* border : 1px solid lightblue; */
    border-radius: 8px;
}

.login-header{
    font-size: 15px;
    margin-bottom: 5px;
}

.login-body{
    margin : 20px 0px;
}

.login-body p{
   font-weight: bold;
   margin: 10px 0px;
}

.login-body p input{
    display: block;
    width: 100%;
    padding : 10px;
    margin-top: 4px;
    font-size: 1rem;
    border-radius: 4px;
}

.login-body p input[type = "submit"]{
    background-color: #1b7bf1;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.login-body p input[type = "submit"]:hover{
    background-color : #559bf6;
}

.login-footer a{
      text-align: center;
      /* transform: translateX(28%); */
      color: #1961fb;
      font-weight: bold;
}

#signup{
    transform: translateX(50%);
}